<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
<<<<<<< HEAD
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
=======
      Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
>>>>>>> fa348e75935ed4673288178e03d702aee5b035a8
    </div>
  </div>
</footer>