<% if (site.posts.length){ %>
  <div class="widget-wrap">
<<<<<<< HEAD
    <h3 class="widget-title"><%= __('archive_a') %></h3>
    <div class="widget">
      <%- list_archives({show_count: theme.show_count, type: theme.archive_type}) %>
    </div>
  </div>
<% } %>
=======
    <h3 class="widget-title">Archives</h3>
    <div class="widget">
      <%- list_archives() %>
    </div>
  </div>
<% } %>
>>>>>>> fa348e75935ed4673288178e03d702aee5b035a8
